:root {
  --navbar-height: 7vh
}

body {
  margin: 0;
}

.flex {
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
  grid-template-columns: 20fr 70fr;
  gap: 10px;
}

.contents-outer {
  padding: 50px;
}

.contents-inner {
  position: fixed;
  max-height: calc(100vh - var(--navbar-height) * 2);
  overflow-y: scroll;
  max-width: 20vw;
}

.everything {
  padding-top: var(--navbar-height);
  padding-left: 7vw;
  padding-bottom: 5vh;
}

.navbar {
  height: var(--navbar-height);
  width: 100vw;
  position: fixed;
  background-color: rgb(76, 40, 40);
  top: 0;
}

.navbar-nav {
  padding-left: 5vw;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;
  height: 100%;
}

.navbar-element {
  color: rgb(255, 255, 255);
  font-weight: 650;
  font-size: 120%;
  font-family: IBM Plex Mono,monospace;
  padding: calc(var(--navbar-height) / 4);
  margin-right: 100px;
  border-radius: 4px;
}

.navbar-element:hover {
  color: #000;
  background-color: beige;
}

.note {
  font-size: 50%;
}

.rules {
  margin-left: 5vw;
}

@media only screen and (max-width: 1800px) {
  :root {
   --navbar-height: 15vh
  }
  
  .navbar-element {
    padding: calc(var(--navbar-height) / 10);
  }
  .everything {
    padding-left: 3vw;
  }

}
@media only screen and (max-width: 800px) {
  :root {
   --navbar-height: 30vh
  }
  
  .navbar-element {
    padding: calc(var(--navbar-height) / 20);
  }
  .rules {
    margin-left: 8vw;
  }
  .everything {
    padding-left: 0vw;
  }


}
